<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="wrapper">
            {{- partial "header.html" . -}}
            {{- partial "nav.html" . -}}
            {{- partial "social.html" . -}}
            <main class="content">
            {{- block "main" . }}{{- end }}
            </main>
            {{- partial "footer.html" . -}}
        </div>
        <!-- Netlify CMS redirect once logged into admin -->
        <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on("init", user => {
                if (!user) {
                  window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                  });
                }
              });
            }
          </script>
    </body>
</html>
