@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
:root {
    /*main color scheme*/
    --bg-color-from: #1d1d1d;
    --bg-color-to: #1d1d1d;
    --font-color: #e8e8e8;
    --a-color: #5ac18e;
    --a-color-hover: #85ddb1;
    --content-font-color-date: #5ac18e;
}

html,
body {
    background-image: linear-gradient(120deg, var(--bg-color-from), var(--bg-color-to));
    color: var(--font-color);
    font-size: 16px;
    line-height: calc(1.0em + 0.5vw);
    font-family: 'Lora', serif;
}

body {
  padding: 20px;
}

h1 {
    font-size: calc(1.0em + 2vw);
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: calc(1em + 1vw);
    font-family: 'Amatic SC', cursive;
}

a {
    color: var(--a-color);
}

a:hover {
    color: var(--a-color-hover);
}

img {
    max-width:100%;
    height:auto;
}


ul {
    list-style: none;
    list-style-position: inside;
}

li::before {
    content: "⫸";
    font-size: 130%;
    line-height: 0;
    margin: 0rem 0.5rem 0 -0.25rem;
    position: relative;
    top: 0.08rem;
    color: var(--content-font-color-date);
}