<!DOCTYPE html>
<!-- Default base template. Other templates define the "main" portion in this template -->
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <div id="content" class="content-container">
        {{ block "main" . }}
        {{ end }}
        {{ partial "math.html" . }}
        </div>
        {{ partial "footer-mobile.html" . }}
        <!-- Netlify CMS redirect once logged into admin -->
        <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on("init", user => {
                if (!user) {
                  window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                  });
                }
              });
            }
          </script>
    </body>
</html>