<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <script src="https://kit.fontawesome.com/31e715396f.js" crossorigin="anonymous"></script>
    <!-- Netlify CMS Identify Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
