<aside class="socialicons">
    <a href="#" onclick="contactbox()" title="Contact me"><span class="fas fa-envelope"></span></a>
    <a href="https://wittrup.link/linkedin" title="LinkedIn" target="_blank" rel="noopener"><span class="fab fa-linkedin"></span></a>
    <a href="https://wittrup.link/github" title="Github" target="_blank" rel="noopener"><span class="fab fa-github-square"></span></a>
    <a href="{{ "index.xml" | relURL}}" title="RSS" target="_blank" rel="noopener"><span class="fas fa-rss-square"></span></a>
</aside>